/************** index ***************/
.site-header {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.site-header-nav {
    float: right;
    /*margin-bottom: -20px;*/
}

.jellyBlog {
    padding-top: 6px;
}

.site-header h1 {
    cursor: pointer;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 28px;
    float: left;
}

.site-header-nav .site-header-nav-item {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-left: 0.5em;
    font-size: 18px;
    color: #777;
    font-weight: bold;
}

.site-header-nav .site-header-nav-item:hover {
    color: #000;
}

.home .site-header {
    background: #614385; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #614385, #516395); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #614385, #516395); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Oper*/
    border-bottom: none;
}

.home .site-header .site-header-nav .site-header-nav-item {
    font-size: 18px;
    color: rgba(255, 255, 255, .5);
    padding: 6px 15px !important;
    border-radius: 5px !important;
}

.home .site-header .site-header-nav .site-header-nav-item:hover {
    color: #fff;
    background: rgba(255, 255, 255, .3);
}

.home .site-header h1 {
    color: #fff;
}

.collection-header {
    margin-top: -20px;
    background: #614385; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #614385, #516395); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #614385, #516395); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    padding: 3rem 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.footer {
    margin-top: 30px;
    color: #777;
    border-top: 1px solid #eee;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.footer .row button {
    margin-right: 10px;
}

.footer .copyRight {
    margin-top: 18px;
    font-size: 16px;
}

.collection-header .container {
    text-align: center;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.collection-header .collection-content {
    padding: 20px 0;
    vertical-align: middle;

    visibility: visible;
    animation-duration: 1s;
    animation-name: fadeInUp;
    animation-fill-mode: both;
}

.collection-header .collection-content h1 {

}

.collection-info {
    margin: 0;
    animation-delay: 0.2s;
    visibility: visible;
    animation-duration: 1s;
    animation-name: fadeInUp;
    animation-fill-mode: both;
}

.collection-info a {
    cursor: pointer;
    text-decoration: none;
}

.collection-info .col-item {
    margin-right: 16px;
    font-size: 16px;
}

.collection-info .col-item i {
    margin-right: 5px;
}

.articles-page-content {
    padding-top: 30px;
}

.articles-page-content .media {
    border: none;
    padding: 0 10px 2em;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.articles-page-content .media:first-child {
    margin-top: 0 !important;
}

.articles-page-content .media:hover{

}

.articles-page-content .media .media-left {
    margin-top: 0 !important;
    padding: 0px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

.articles-page-content .media .media-left img {
    border-radius: 5px;
    height: 180px;
    width: 260px;
    transition: all 1s ease 0s;
}

.articles-page-content .media .media-left img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);

}

.media-body .media-heading a {
    cursor: pointer;
}

.articles-page-content .media .media-body {
    padding-left: 16px;
}

.articles-page-content .media .media-body .description {
    margin-top: .6em;
    font-size: 0.9em;
    line-height: 1.4285em;
    color: #95a5a6;
}

.articles-page-content .media .media-body .media-extra {
    margin-top: 16px;
    color: #888;
}

.media .media-body .media-extra .media-info {
    margin-top: 16px;
    font-size: 1em;
}

.media .media-body .media-extra .media-info i {
    margin-right: 6px;
}

.media-extra .media-info .media-date {
    display: inline-block;
    margin-right: 14px;
}

.media-extra .media-info .media-view-count {
    display: inline-block;
}

/************** show ***************/
.article-collection-header {
    margin-top: -20px;
    background: #4183c4;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.error-page .article-collection-header {
    background: #e96443; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #e96443, #904e95); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #e96443, #904e95); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.read-me .article-collection-header {
    background: #1F1C2C; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1F1C2C, #928DAB); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1F1C2C, #928DAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.post-one .article-collection-header {
    background: #348F50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #348F50, #56B4D3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #348F50, #56B4D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.post-two .article-collection-header {
    background: #1F1C2C; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1F1C2C, #928DAB); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1F1C2C, #928DAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.post-three .article-collection-header {
    background: #7474BF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #7474BF, #348AC7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #7474BF, #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.post-four .article-collection-header {
    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #485563, #29323c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #485563, #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.post-five .article-collection-header {
    background: #666600; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #666600, #999966); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #666600, #999966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.post-six .article-collection-header {
    background: #DC2424; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #DC2424, #4A569D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #DC2424, #4A569D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.post-seven .article-collection-header {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
}

.post-eight .article-collection-header {
    background: #7b4397; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.post-nine .article-collection-header {
    background: #414d0b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #727a17, #414d0b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #727a17, #414d0b);
}

.article-content {
    padding: 28px 10px;
}

.article-collection-title {
    margin-bottom: 20px;
}
.article-collection-title>h1{
    visibility: visible;
    animation-duration: 1s;
    animation-name: fadeInUp;
    animation-fill-mode: both;
}

.collection-info a {
    color: #fff;
    margin-right: 6px;
}

.article-collection-dataInfo {
    margin-top: 12px;
}

.article-collection-dataInfo i {
    margin-right: 6px;
}

/********************* back-to-top ************************/
#backToTop {
    z-index: 99;
    bottom: 65px;
    position: fixed;
    right: 15px;
}

#backToTop:hover button i {
    color: #fff;
}
