.container {
    width: auto;
    max-width: 1020px;
    padding-left: 20px;
    padding-right: 20px
}

.mobile-visible {
    display: block;
}

@media (max-width: 50em) {
    .page-full {
        
    }

    .mobile-block {
        display: block;
        float: none
    }

    .mobile-hidden {
        display: none
    }

    .mobile-visible {
        display: inline-block
    }

    .mobile-md-section {
        padding: 10px 0
    }

    .column {
        width: 100% !important;
        float: none;
        margin-bottom: 1.25rem
    }

    .home .banner .collection-head {
        padding: 1rem !important
    }

    .collection-head h1.collection-header {
        font-size: 2rem !important
    }

    .site-header {
        padding-bottom: 0
    }

    .page-content .links>a {
        width: 100%;
        margin-top: 12px;
        display: block;
    }
    .site-header  h1 {
        width: 100%;
        float: none;
        text-align: center;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        margin-bottom: 20px
    }

    .collection-head .container .site-header-nav {
        float: none;
        display: block;
        margin-bottom: 0;
        text-align: center
    }

    .site-header-nav .site-header-nav-item {
        padding: 0 .5rem;
        margin-left: 0;
        font-size: 1rem;
        height: 2rem;
        line-height: 2rem;
        display: inline-block
    }
    .mini-repo-list-item .owner.css-truncate-target, .mini-repo-list-item .repo-and-owner.css-truncate-target {
        max-width: 300px
    }
    .collection-info .col-item {
        display: block;
        margin-top: 14px;
        width: 100%;
    }
    .articles-page-content .media{
      text-align: center;
      position: relative;
      padding-bottom: .5em !important;
    }
    .articles-page-content .media .media-left{
        /*display: none;*/
        display: block;
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .articles-page-content .media .media-left img{
        width: 100% !important;
    }
    .articles-page-content .media .media-body{
        margin-top: 4px;
        width: 100%  !important;
        display: block;
        padding-left: 0px !important;
    }
    .collection-header{
        padding-top: 0px !important;
    }


    .markdown-body h1 {
        font-size: 2rem
    }

    .markdown-body h2 {
        font-size: 1.4rem
    }

    .markdown-body h3 {
        font-size: 1.2rem
    }

    .markdown-body h4 {
        font-size: 1.1em
    }

    .markdown-body h5 {
        font-size: 1em
    }
}

@media (max-width: 20em) {
    .site-header-nav .site-header-nav-item {
        min-width: 20%
    }

    .collection-head .collection-info .meta-info {
        display: block;
        margin-top: 15px
    }
}
