<div class="footer" id="footer">
    {% include back-to-top.html %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <a href="https://www.facebook.com/ghcsun" target="_blank" class="ui circular grey icon button">
                    <i class="facebook icon"></i>
                </a>
                <a href="http://weibo.com/2721760737/profile?topnav=1&wvr=6&is_all=1" target="_blank" class="ui circular grey icon button">
                    <i class="weibo icon"></i>
                </a>
                <a href="https://twitter.com/JellyGavin" target="_blank" class="ui circular grey icon button">
                    <i class="twitter icon"></i>
                </a>
                <a href=" https://github.com/GeekGhc" target="_blank" class="ui circular grey icon button">
                    <i class="github icon"></i>
                </a>
                <a href="https://plus.google.com/u/0/108390134136813492774" target="_blank" class="ui circular grey plus icon button">
                    <i class="google plus icon"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="copyRight">
        © 2016 JellyBean . All rights reserved
    </div>
</div>
<script src="/assets/vendor/share.js/dist/js/share.min.js"></script>
</body>
</html>