<div class="footer" id="footer">
    {% include back-to-top.html %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% for member in site.data.links %}
                <a href="{{ member.link }}" target="_blank" class="ui circular grey icon button">
                    <i class="{{ member.class }} icon"></i>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="/assets/vendor/share.js/dist/js/share.min.js"></script>
</body>
</html>